body {
  background: #fff;
}
:root {
  --font-family: 'Montserrat', sans-serif;
  --second-family: 'DM Sans', sans-serif;
}
img {
  display: block;
  max-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}
.input,
textarea,
button {
  font-family: inherit;
}
a {
  text-decoration: none;
}
.container {
  max-width: 1440px;
  margin: 20px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 63px 85px 70px;
}
.logo {
  font-family: var(--font-family);
  font-style: italic;
  font-weight: 400;
  font-size: 40px;
  color: #10b981;
}
.logo-tech {
  color: #000;
}
.header-input {
  border-radius: 10px;
  width: 322px;
  height: 63px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 375%;
  color: rgba(41, 41, 48, 0.2);
  padding-left: 32px;
  margin-left: 239px;
  border: none;
  box-shadow: 0 15px 50px 0 rgba(46, 131, 158, 0.07);
  background: #fff;
}
.header-list {
  display: flex;
  gap: 10px;
  margin-left: 38px;
}
.header-item {
  border: 1px solid #10b981;
  border-radius: 30px;
  width: 229px;
  height: 60px;
  box-shadow: 0 10px 35px 0 rgba(0, 0, 0, 0.1);
  font-weight: 500;
  font-size: 16px;
  line-height: 375%;
  color: #2b2626;
  font-family: var(--font-family);
  padding-left: 48px;
}
.header-login {
  border-radius: 30px;
  width: 247px;
  height: 60px;
  box-shadow: 0 10px 35px 0 rgba(0, 0, 0, 0.1);
  background: #10b981;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 375%;
  color: #fff;
  padding-left: 48px;
}
.icon-search {
  fill: none;
  stroke: rgb(255, 128, 0);
  width: 24px;
  height: 24px;
}
.section {
  width: 1440px;
  height: 81px;
  background: #10b981;
}
.list {
  display: flex;
  gap: 75px;
  justify-content: center;
  padding-top: 29px;
  font-weight: 600;
  font-size: 20px;
  color: #fff;
  font-family: var(--font-family);
}
.section-discover {
  display: flex;
}
.discover-container-left {
  display: flex;
  flex-direction: column;
  margin: 126px 226px 112px 85px;
}
.discover-title {
  font-weight: 600;
  font-size: 64px;
  color: #2b2626;
  font-family: var(--font-family);
  width: 599px;
  margin-bottom: 30px;
}
.discover-text {
  font-weight: 500;
  font-size: 21px;
  line-height: 167%;
  color: #2b2626;
  font-family: var(--font-family);
  width: 549px;
  margin-bottom: 52px;
}
.discover-btn {
  border-radius: 10px;
  width: 263px;
  height: 70px;
  box-shadow: 0 25px 50px 0 rgba(132, 94, 194, 0.15);
  background: #10b981;
  border: none;
  font-weight: 600;
  font-size: 21px;
  color: #fff;
  font-family: var(--font-family);
  cursor: pointer;
  margin-bottom: 112px;
}
.discover-btn:hover,
.discover-btn:focus {
  background: #099063;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.container-user {
  display: flex;
}
.list-user {
  display: flex;
  margin-right: -30px;
}
.list-user-item4 {
  position: relative;
}
.list-user-item3 {
  position: relative;
}
.list-user-item2 {
  position: relative;
}

.list-user-item4:first-child {
  z-index: 4;
  right: 55px;
}
.list-user-item3:first-child {
  z-index: 3;
  right: 35px;
}
.list-user-item2:first-child {
  z-index: 2;
  right: 18px;
}

.user-text {
  font-weight: 500;
  font-size: 26px;
  line-height: 135%;
  color: #2b2626;
  font-family: var(--font-family);
}
.star1 {
  margin-left: -30px;
}
.discover-img {
  border-radius: 136px;
  width: 272px;
  height: 477px;
  background: #ecfef4;
  display: flex;
  flex-direction: column;
}
.discover-photo {
  position: relative;
  top: 70px;
}
.discover-container-right {
  margin: 75px 151px 60px 0;
}
.img-avatar {
}
.container-img-avatar {
}
.star2 {
  margin-left: 350px;
}
.letra-R {
  transform: rotate(93deg);
}

/* Section 3 */
.section-3 {
  width: 1440px;
  height: 591px;
  background: #845ec2;
  display: flex;
}
.wrapper-section-3-left {
  padding: 73px 55px 0 90px;
}
.title-section-3-left {
  font-weight: 600;
  font-size: 60px;
  font-family: var(--font-family);
  width: 675px;
  color: transparent;
  -webkit-text-stroke: 1px white;
}
.list-section-3 {
  display: flex;
  gap: 32px;
  width: 623px;
  margin-top: -30px;
}
.item-section-3 {
}
.item-section-3:first-child,
.item-section-3:last-child {
  margin-top: 74px;
}
.section-3-img {
  border-radius: 179px;
  width: 189px;
  height: 331px;
}
.list-section-3-left-text {
  font-weight: 400;
  font-size: 31px;
  line-height: 113%;
  color: #fff;
  font-family: var(--font-family);
  margin-left: 30%;
}
.list-section-3-left-text-span {
  font-weight: 600;
  font-size: 31px;
  color: #fff;
}
.wrapper-section-3-rigth {
  padding: 146px 43px 171px 50px;
}
.title-section-3-rigth {
  font-weight: 600;
  font-size: 44px;
  color: #fff;
  margin-bottom: 10px;
  width: 559px;
  font-family: var(--font-family);
}
.list-section-3-rigth-text {
  font-weight: 500;
  font-size: 21px;
  line-height: 167%;
  color: #fff;
  font-family: var(--font-family);
  text-align: left;
  width: 500px;
  margin-bottom: 35px;
}
.button-section-3 {
  border-radius: 10px;
  border: none;
  width: 263px;
  height: 70px;
  background: #845ec2;
  cursor: pointer;
}
.button-section-3:focus,
.button-section-3:hover {
  box-shadow: 0 25px 50px 0 rgba(255, 255, 255, 0.1);
  background: #10b981;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Section 4 */
.top-sellers {
  display: flex;
  flex-direction: column;
  margin: 130px 22px 130px 85px;
}
.title-top-sellers {
  font-weight: 600;
  font-size: 44px;
  color: #2b2626;
  font-family: var(--font-family);
  margin: 0 auto;
  margin-bottom: 55px;
}
.switch-top-sellers {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 99px;
}
.button-switch-top-sellers {
  font-weight: 600;
  font-size: 26px;
  color: #000;
  font-family: var(--font-family);
  border-radius: 100%;
  background: #fff;
  padding: 30px 25px;
  border: none;
}
.button-switch-top-sellers:focus,
.button-switch-top-sellers:hover {
  background-color: #10b981;
  color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  scale: 1.2;
}
.products-top-sellers {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 93px;
}
.products-card-top-sellers {
}
.wrapper-content {
  border-radius: 15px;
  position: relative;
  width: 361px;
  height: 438px;
  background: #ecfef4;
}
.blue-card {
  background: #c9f2ff;
}
.purple-card {
  background: #e5d5ff;
}
.badge-top-sellers {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  color: #fff;
  background-color: #10b981;
  padding: 28px 12px;
  border-radius: 100%;
  position: absolute;
  width: 100px;
  top: 13px;
  left: 66%;
}
.purple {
  background-color: #845ec2;
}
.products-img {
  width: 241px;
  padding-top: 30px;
  margin: auto;
}
.title-container {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 15px;
  width: 319px;

  margin: 0px 21px 18px 21px;
  padding: 31px 76px 30px 52px;
  position: absolute;
}
.title-products-top-sellers {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 21px;
  line-height: 167%;
  color: #8e8888;
}
.rating-top-sellers {
  margin-right: 13px;
}
.reviews-top-sellers {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 11px;
  line-height: 318%;
  color: #888;
}
.price-top-sellers {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 21px;
  color: #2b2626;
}
.add-btn-top-sellers {
  margin-top: 29px;
  width: 361px;
  height: 70px;
  font-weight: 600;
  font-size: 21px;
  color: #fff;
  font-family: var(--font-family);
  box-shadow: 0 25px 50px 0 rgba(255, 255, 255, 0.1);
  background: #10b981;
  border: none;
  cursor: pointer;
}
.add-btn-top-sellers :focus,
.add-btn-top-sellers:hover {
  background-color: #0d9769;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Section 5 */
.trending {
  display: flex;
  flex-direction: column;
  margin: 130px 22px 130px 85px;
}
.title-trending {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 44px;
  color: #2b2626;
  margin: auto;
}
.button-switch-trending {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 65px;
  margin-bottom: 99px;
  margin-top: 55px;
}
.button-trending {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 26px;
  color: #000;
  background-color: #fff;
  border: none;
  cursor: pointer;
  padding: 30px 33px;
}
.button-trending:focus,
.button-trending:hover {
  font-weight: 600;
  font-size: 26px;
  color: #fff;
  font-family: var(--font-family);
  border-radius: 100%;
  background-color: #10b981;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.products-trending {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 93px;
}
.card-trending {
}
.content-card {
  position: relative;
  background: #e0efff;
  border-radius: 15px;
  height: 438px;
}
.small {
  padding: 58px 108px 30px 64px;
}
.medium {
  padding: 7px 60px;
}
.big {
  padding: 8px 56px 0 56px;
}
.blue-center {
  background: #e8f9ff;
}
.blue-rigth {
  background: #d3fbfb;
}

.badge-trending {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  color: #fff;
  background-color: #10b981;
  padding: 28px 12px;
  border-radius: 100%;
  position: absolute;
  width: 100px;
  top: 13px;
  left: 66%;
}
.color {
  background-color: #08bdbe;
}
.trending-img {
  margin: auto;
}
.wrapper-title-card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 15px;
  width: 319px;
  margin: 18px 21px 18px 21px;
  padding: 31px 76px 30px 52px;
  position: absolute;
}
.title-card {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 21px;
  line-height: 167%;
  color: #8e8888;
}
.raing-trandign {
}
.reviews-trendign {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 11px;
  line-height: 318%;
  color: #888;
}
.price-trending {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 21px;
  color: #2b2626;
}
.add-btn-trending {
  margin-top: 29px;
  width: 361px;
  height: 70px;
  font-weight: 600;
  font-size: 21px;
  color: #fff;
  font-family: var(--font-family);
  box-shadow: 0 25px 50px 0 rgba(255, 255, 255, 0.1);
  background: #10b981;
  border: none;
  cursor: pointer;
}
.add-btn-trending:focus,
.add-btn-trending:hover {
  background-color: #0d9769;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
